<div class="col-md-6 col-md-offset-3">
<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :idEmployee %>
    <%= form.number_field :idEmployee,:class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :passwordEmployee %>
    <%= form.password_field :passwordEmployee %>
  </div>

  <div class="form-group">
    <%= form.label :emailEmployee %>
    <%= form.text_field :emailEmployee,:class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :nameEmployee %>
    <%= form.text_field :nameEmployee ,:class => "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :remainingLeave %>
    <%= form.text_field :remainingLeave,:class => "form-control" %>
  </div>



  <div class="form-group">
    <%= form.label :adressEmployee %>
    <%= form.text_field :adressEmployee ,:class => "form-control"%>
  </div>



  <div class="form-group">
    <%= form.label :phoneEmployee %>
    <%= form.number_field :phoneEmployee ,:class => "form-control"%>
  </div>

  <div class="actions">
    <%= form.submit :class => "btn btn-success"%>

  </div>
<% end %>
</div>
