<p id="notice"><%= notice %></p>

<p>
  <strong>Idemployee:</strong>
  <%= @employee.idEmployee %>
</p>

<p>
  <strong>Passwordemployee:</strong>
  <%= @employee.passwordEmployee %>
</p>

<p>
  <strong>Emailemployee:</strong>
  <%= @employee.emailEmployee %>
</p>

<p>
  <strong>Nameemployee:</strong>
  <%= @employee.nameEmployee %>
</p>

<p>
  <strong>Remainingleave:</strong>
  <%= @employee.remainingLeave %>
</p>


<p>
  <strong>Adressemployee:</strong>
  <%= @employee.adressEmployee %>
</p>



<p>
  <strong>Phoneemployee:</strong>
  <%= @employee.phoneEmployee %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
