<div class="col-md-6 col-md-offset-3">
<%= form_with(model: leave_request, local: true) do |form| %>
  <% if leave_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(leave_request.errors.count, "error") %> prohibited this leave_request from being saved:</h2>

      <ul>
      <% leave_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" >
    <%= form.label :idRequest %>
    <%= form.number_field :idRequest %>
  </div>
  <div class="form-group" >
    <%= form.label :idEMployee %>
    <%= form.number_field :idEmployee %>
  </div>
  <div class="form-group">
    <%= form.label :startDate %>
    <%= form.datetime_select :startDate %>
  </div>

  <div class="form-group">
    <%= form.label :endDate %>
    <%= form.datetime_select :endDate %>
  </div>

  <div class="form-group">
    <%= form.label :reason %>
    <%= form.text_field :reason %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.check_box :status %>
  </div>

 <div class="field">
    <%= form.label :nameEmployee %>
    <%= form.text_field :nameEmployee %>
  </div>

  <div class="actions">
    <%= form.submit :class => "btn btn-success"%>
    
  </div>
<% end %>
</div>
