<p id="notice"><%= notice %></p>

<h1>Leave Requests</h1>

<table class ="table">

  <thead>
    <tr>

      <th>Startdate</th>
      <th>Enddate</th>
      <th>Action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leave_requests.each do |leave_request| %>
      <tr>

        <td><%= leave_request.startDate %></td>
        <td><%= leave_request.endDate %></td>


        <td><%= link_to 'validate', edit_leave_request_path(leave_request), class: "btn btn-primary" %></td>
        <td><%= link_to 'reject', leave_request, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
